* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: rgba(45, 149, 197, 0.815);
}

.form {
    max-width: 100%;
}

.row {
    display: flex;
}

.col-1 {
    width: 10%;
    padding: 10px;
    margin-left: 15px;
    align-items: center;
}

.col-2 {
    width: 40%;
    padding: 10px;
}

.col-3 {
    width: 30%;
    padding: 10px;
    margin-left: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: red;
}

.inp-1 {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

label {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    padding: 13px 20px;
    border-radius: 8px;
    background-color: rgb(5, 192, 5);
    color: white;
    font-size: 17px;
    border: none;
}

option {
    font-size: 15px;
}

span {
    font-size: 18px;
    padding: 0 7px 0 5px;
}